body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/* END OF RESET CSS */

.App {
  font-family: 'Open Sans';
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 1rem;
}

.App-header {
  background-color: #f7f7f7;
  height: 150px;
  padding: 20px 0px 2rem 0rem;
  color: #fff;
  font-family: 'Merriweather';
  letter-spacing: 1.83px;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #bfbfbf;
}

.App-subheader {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.83px;
  color: rgba(242, 38, 19, 0.65);
  text-align: center;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  line-height: 1.4;
}

.App-title {
  font-size: 3rem;
  margin-bottom: 0.4rem;
  background-color: rgba(242, 38, 19, 0.65);
  width: 300px;
  text-align: center;
  padding: 13px;
  text-align: center;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin-left: 40px;
}

.navbar-item {
  font-family: 'Open Sans';
  width: 80px;
  font-size: 1.2rem;
  color: #bfbfbf;
}

.navbar-item:last-child {
  margin-right: 0.5rem;
}

.navbar-item:hover,
.navbar-item:active,
.navbar-item:focus,
.navbar-item:visited {
  color: rgba(242, 38, 19, 0.65);
  cursor: pointer;
}

.card-container {
  border-top: 3px solid #bfbfbf;
  margin-top: 6px;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1.25rem 1.25rem;
}

.card {
  box-sizing: border-box;
  height: 19rem;
  margin: 10px 5px;
  padding-top: 10px;
  background-color: #fff;
}

.card-title {
  color: #695f5e;
  padding: 0.25rem 0 0 2rem;
  font-size: 1rem;
}

.card-footer {
  margin: 1rem 0 0 0;
  padding: 0.75rem 0px;
  border-top: 2px solid #ececec;
  display: flex;
  justify-content: center;
}

.card-text-container {
  height: 56%;
  padding: 0 2rem;
}

.card-text {
  color: #303043;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 400;
  /* margin-bottom: 1rem; */
}

.card-btn {
  font-size: 0.8rem;
  background-color: #d8d8d8;
  border: none;
  margin: 0px 6px;
  padding: 9px 22px;
  display: flex;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.card-btn:hover {
  color: rgba(242, 38, 19, 0.65);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.card-btn-right {
  padding: 7px 28px;
}

/* tablet/mobile media query  */

@media (min-width: 700px) {
  .App-header {
    padding-bottom: 1rem;
  }

  .App-subheader {
    margin-left: 0;
    margin-right: 0;
  }

  .card-container {
    display: flex;
    padding: 1.25rem 0rem 0rem 3.5rem;
  }

  .card {
    flex-basis: 45%;
    padding-top: 0px;
  }

  .card-title {
    padding: 0.25rem 0 0 2rem;
  }

  .card-btn {
    font-size: 0.8rem;
    background-color: #d8d8d8;
    border: none;
    margin: 0px 6px;
    padding: 9px 22px;
    display: flex;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.5px;
  }
}

/* desktop/laptop media query  */

@media (min-width: 1000px) {
  .App-header {
    padding: 20px 0px 1rem 6rem;
  }

  .App-title {
    margin-left: 0rem;
  }

  .App-subheader {
    text-align: left;
  }

  .card-container {
    display: flex;
    padding: 1.25rem 4.5rem 0rem 5.5rem;
    flex-grow: 1;
  }

  .card {
    flex-basis: 32%;
  }

  .navbar {
    justify-content: flex-end;
  }

  .navbar-item:last-child {
    margin-right: 4.8rem;
  }
}

@media (min-width: 1500px) {
  .card-container {
    padding-right: 4rem;
  }

  .card-btn {
    margin: 0px 20px;
  }
}
